
/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
#header{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
    font-size: 40px;
    line-height: 30px;
    margin: auto;
    padding-top:20px;
    margin-bottom:100px;
}

h2{
    margin-top:50px;
    font-size: 30px;
    
}

#input{
    display: flex;
    justify-content: center;
}

#input button {
    font-size: 20px;
    padding:20px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px;
    width: 150px;
    border-radius: 20px;
}

#input button:hover {
    background-color: orangered;
}

#game {
    display: flex;
    justify-content: space-evenly;
    padding-left:150px;
    padding-right:150px;
    
}



#computer-choice, #player-choice {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 10px;
}

#computer-img,
#player-img {
    width: 150px;
    height: 150px;
    
}


#outcome {

    font-size: 30px;
    font-weight: bold;
    color: #555;
}

#score {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}


#restart{
    background-color: blue;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
    margin-top:50px;
    padding:20px;
    border-radius: 20px;
}